
bin/Debug/net472/ProjectT.pdb
bin/Debug/net472/ProjectT.dll
.vs/ProjectT/v16/.suo
.vs/ProjectT/DesignTimeBuild/.dtbcache.v2
obj/Debug/net472/ProjectT.pdb
obj/Debug/net472/ProjectT.dll
obj/Debug/net472/ProjectT.csprojAssemblyReference.cache
.vs/ProjectT/DesignTimeBuild/.dtbcache.v2
.vs/ProjectT/DesignTimeBuild/.dtbcache.v2
.vs/ProjectT/v16/.suo
bin/Debug/net472/Mono.Cecil.dll
bin/Debug/net472/Mono.Cecil.Mdb.dll
bin/Debug/net472/Mono.Cecil.Pdb.dll
bin/Debug/net472/MonoMod.RuntimeDetour.dll
bin/Debug/net472/MonoMod.Utils.dll
bin/Debug/net472/ProjectT.dll
bin/Debug/net472/ProjectT.pdb
bin/Debug/net472/tModLoader.exe
bin/Debug/net472/tModLoader.pdb
bin/Debug/net472/tModLoader.xml
obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/net472/ProjectT.csproj.CoreCompileInputs.cache
obj/Debug/net472/ProjectT.assets.cache
obj/Debug/net472/ProjectT.csproj.FileListAbsolute.txt
obj/Debug/net472/ProjectT.csprojAssemblyReference.cache
obj/Debug/net472/ProjectT.dll
obj/Debug/net472/ProjectT.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/ProjectT.csproj.nuget.dgspec.json
obj/ProjectT.csproj.nuget.g.props
